//header
$header-height: 68px;
//footer
$socialicon-height: 32px;
$credits-size: 22px;
$footer-margin: 8px;

html,body
{
    height: 100%;
    width: 100%;
}
body {
    margin-top: $header-height;
    margin-bottom: $socialicon-height + $credits-size + ($footer-margin)*3;
    overflow: hidden;
}

.dropdown
{
    min-width: 88px;
    margin-right: 16px;
}

.dropdown-menu
{
    right: 0;
    left: -85px;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: $socialicon-height + $credits-size + ($footer-margin)*3;

    .footerinfo
    {
        text-align: center;
        vertical-align: middle;
        line-height: 22px;
        margin-bottom: $footer-margin;
    }
    .social
    {
        margin-top: $footer-margin;
        margin-bottom: $footer-margin/2;
        text-align: center;
        vertical-align: middle;
        line-height: $socialicon-height;
        .fa
        {
            font-size: $socialicon-height;
        }        
    }
}


#pagecontent
{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 32px;
    #resultcontainer
    {
        overflow: auto;
        height: 100%;
        flex: 1;
    }
    #result
    {
        width: 80%;
    }
    #contentcontainer
    {
        flex: 1;
    }
}

