body
{
    background-color: lightgray;
}
body,html
{
    height: 100%;
    width: 100%;
    margin: 0;
}



#canvasparent
{
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    position: absolute;
    canvas
    {
        height: 100% !important;
        width: 100% !important;
    }
}
#inputoutputparent
{
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    position: absolute;
}
#inputs
{
    margin: 16px;
    input
    {
        margin-bottom: 8px;
    }
}
#outputs
{
    margin: 16px;
}